/* for large screens; if screen_width >= 800 pixels */
#nav_bar 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction is row by default */
  justify-content: flex-start;
  background-color: green;
  overflow: hidden; /* FIXME what does this do? */ 
}

/* for medium sized screens; if 800 pixels >= screen_width > 500 pixels */
@media all and (max-width: 800px)
{
	.nav_bar
	{
		justify-content: space-around;
		/* evently distribute empty space */
	}
}

/* for small sized screens; if screen_width <= 500 pixels  pixels */
@media all and (max-width: 500px)
{
	.nav_bar
	{
		flex-direction: column;
		/* we need flex-direction: column as small devices need the nav_bar's children vertically alligned */
	}
}


li 
{
  float: left;
}

li a /* all <a> nested inside <li> */
{
	display: block;
	padding: 8px;
	color: black;
	text-decoration: none;
}

li a:hover
{
	background-color: white;
}

body
{
	/*background-image: url("forest_rain.jpg");
	background-size: cover;*/
}

.container  
{
	display: flex;
	flex-wrap: wrap;	
	/* flex-direction is row by default */
	align-items: center;
	justify-content: center;
}

#main_title_div
{
	background-color: red;
	height: 50px;
}

#description_div
{
	background-color: yellow;
	height: 50px;
}

#main_title
{
	margin: auto;
	color: green;
}

#app_description
{
	margin: auto;
}