@media screen and (-webkit-min-device-pixel-ratio:0) { @font-face { font-family:'FontAwesome'; src: url('fonts/fontawesome-webfont.svg?v5.6.3#fontawesomeregular') format('svg'); } }

html, body {
	margin: 0;
   	padding: 0;
   	height: 100%;
}

/* for large screens; if screen_width >= 800 pixels */

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction is row by default */
  justify-content: flex-start;
  background-color: rgba(183,0,0,1);
  overflow: hidden; /* FIXME what does this do? */  
}

/* for medium sized screens; if 800 pixels >= screen_width > 500 pixels */
@media all and (max-width: 800px) {
	#nav_bar {
		justify-content: space-around;
		/* evently distribute empty space */
	}
}

/* for small sized screens; if screen_width <= 500 pixels  pixels */
@media all and (max-width: 500px) {
	#nav_bar {
		flex-direction: column;
		/* we need flex-direction: column as small devices need the nav_bar's children vertically alligned */
	}
}

li  {
  float: left;
}

#nav_bar li a /* all <a> nested inside <li> */ {
	display: block;
	padding: 0.9vmax; /* FIXME trying 1 vmax for now, if it isn't good, will go back to 12px/other units */
	color: rgba(255,255,0,1);
	background-color: rgba(183,0,0,1);
	text-decoration: none;
	transition: background-color 0.75s;
	-webkit-transition: background-color 0.75s;
	font-family: 'IBM Plex Sans', Times New Roman, Georgia, sans-serif;
}

#nav_bar li a:hover {
	background-color: rgba(0,0,150,1);
	transition: background-color 0s;
	-webkit-transition: background-color 0s;
}

body {
	/* animation via keyframes */
	animation: colourtransition 120s infinite alternate; /* for Opera and Mozilla */ 
	 -webkit-animation: colourtransition 120s infinite alternate; /*for Safari and Chrome */
}


@keyframes colourtransition 
	{	
		0%  {background: rgba(112,128,144, 0.5);}
		20%   {background: rgba(120,156,178, 0.75);}
		40% {background: rgba(72,209,204, 0.5);}
      	60%  {background: rgba(34,139,34, 0.5);}
      	80%  {background: rgba(255,165,0, 0.5);}
      	100%  {background: rgba(255,255,0, 0.5);}
      	 		
	}

 /*Safari and Chrome - necessary duplicate */
@-webkit-keyframes colourtransition
	{
		0%  {background: rgba(112,128,144, 0.5);}
		20%   {background: rgba(120,156,178, 0.75);}
		40% {background: rgba(72,209,204, 0.5);}
      	60%  {background: rgba(34,139,34, 0.5);}
      	80%  {background: rgba(255,165,0, 0.5);}
      	100%  {background: rgba(255,255,0, 0.5);}
    }

.container_vertical {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container_horizontal {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.right_align_horizontal {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;
	/* get proper allignment ?*/ FIXME 
}

#main_title_div {
	height: 14vh;
	margin: 5vh auto -2vh auto;

}

#description_div {
	height: 12vh;
}

#main_title {
	font-family: Great Vibes, Bilbo Swash Caps, cursive;
 	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 7vmax; 
 	letter-spacing: 0.21vw;
 
}

.secondary_title {
	font-family: Great Vibes, Bilbo Swash Caps, cursive;
 	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 4vmax; 
 	letter-spacing: 0.21vw;
 	margin-bottom: -10px;
}

#app_description {
	font-family: Bilbo Swash Caps, Great Vibes, serif;
 	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 2.5vmax; 
 	letter-spacing: 0.07vw;
 	text-align: center;
 	line-height: 1.6; /* recommended line-height (only applies to mobile views of my website) */
}

.other_descriptions {
	font-family: 'IBM Plex Sans', Times New Roman, Georgia, sans-serif;
 	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 1.43vmax; 
 	letter-spacing: 0.07vw;
 	text-align: center;
 	line-height: 1.6; /* recommended line-height (only applies to mobile views of my website) */	
}

/* by default, the play/pause button is displayed as play, as audio is paused */
#play_pause_button {	
	box-sizing: border-box;
	padding: 0vmin;
	width: 14vmin;
	height: 14vmin;
	outline: none;
	border-style: solid;
	border-width: 7vmin 0vmin 7vmin 14vmin;
	border-color: transparent transparent transparent rgba(183,0,0,1);
	background-color: transparent;
} 

#play_pause_button_div {
	height: 16.5vmin;
}

/* CSS for actual slider */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none; 
	width: 25%; /* Full-width */
	height: 10%;
	outline: none;
	-webkit-transition: background-color 0.75s; /* for safari*/
	transition: background-color: 0.75s; /* for other browsers */
	background-color: rgba(183, 0, 0, 1); /* default BG colour without hover */
	border-radius: 0.5vw;
}

/* fully show slider on hover (opacity: 0.6 -> 1) */
.slider:hover {
	background-color: rgba(0,0,150,1);
	-webkit-transition: background-color 0s; /* for safari*/
	transition: background-color: 0s; /* for other browsers */
} 

/* CSS for slider-thumb/icon, for all browsers not Mozilla */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.1vmax;
	height: 1.1vmax;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	background-size: cover;
}

/* CSS for slider-thumb/icon, for Mozilla */
.slider::-moz-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.1vmax;
	height: 1.1vmax;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='circle' class='svg-inline--fa fa-circle fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/%3E%3C/svg%3E");
	background-size: cover;
} 

.mute_icon {
	height: 2vmax;
	width: 2vmax;
}

.slider_div {
	height: 7.15vh;
	width: 100vw;
}

#collapsible {
	height: 4.3vh;
	width: 45vw;
	-webkit-transition: background-color 0.75s; /* for safari*/
	transition: background-color: 0.75s; /* for other browsers */
	background-color: rgba(183,0,0,1); /* default BG colour without hover */
  	color: yellow;
  	cursor: pointer;
  	border: none;
  	text-align: center;
  	outline: none;
  	font-size: 1.2vmax;
  	font-family: 'IBM Plex Sans', Times New Roman, Georgia, sans-serif;

} 

#collapsible:hover {
	background-color: rgba(0,0,150,1) !important; 
	transition: all 0s !important;
	-webkit-transition: all 0s !important;

}

#collapsible:active {
	background-color: rgba(0,0,150,1);
	transition: all 0s;
	-webkit-transition: all 0s;
}


#collapsed_div {
  padding: 0 1.25vmax;
  overflow: hidden;
  display: none;

}

.slider_icons {
	height: 1.25vmax;
	width: 1.25vmax;
	font-size: 1.50vmax;
	margin-right: 0.70vmax;

	/* we need both height/width and font-size in order to both align the icons and keep the 
	icons the same size as the speaker/mute icons*/
}

.wave {
 	background: transparent;
  	height: 50px;
  	position: relative;
 }

.wave::before {
	content: "";
	position: absolute;
	left: 0;
  	bottom: 0;
  	right: 0;
  	background-repeat: repeat-x;
  	height: 10px;
  	background-size: 20px 20px; 
  	background-image: radial-gradient(circle at 10px -5px, transparent 12px, rgba(183,0,0,1) 13px);
  }

.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, rgba(183,0,0,1) 12px, transparent 13px);
}

.inverse_wave {
	transform: rotate(180deg);
}

#to_top {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0.0;
	text-decoration: none;
	-webkit-border-radius: 2.45vmax;
    -moz-border-radius: 2.45vmax;
    border-radius: 2.45vmax;
    width: 1.95em;
    height: 1.95em;
    /* edit this
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    */
    z-index: 1;
   	right: 2.10vw;
   	bottom: 17.75vh;
   	transition: all 0.75s;
   	-webkit-transition: all 0.75s;
}

#to_top i {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    position: relative;
    left: 0.4167vw;
    top: 0.9220vh;
    left: 0.3em;
    top: 0.5em;
    font-size: 1.3em;
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    /* edit this
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    */
    z-index: 1;
}	
#to_top:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: all 0s;
    -webkit-transition: all 0s;

}
#to_top:hover i {
    color: rgba(255, 255, 255, 1);
    top: 3px;
    transition: all 0s;
    -webkit-transition: all 0s;
}

.link {
	display: block;
	font-size: 50px;
	color: rgba(183,0,0,1);
	padding: 20px;
	margin-left: 15px;
	transition: color 0.75s; /* how much time it takes to turn back to "normal"*/
	-webkit-transition: color 0.75s;
}

.link:hover {
	color: rgba(0,0,150,1);
	transition: color 0s; /*how much time it takes to turn into this at hover (transition 0s = instant) */
	-webkit-transition: color 0s;
}

.bullet_pt_style {
	font-family: 'IBM Plex Sans', Times New Roman, Georgia, sans-serif; /*FIXME perhaps change IBM Plex font choice later */
 	color: rgba(0, 0, 0, 1);
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 1.20vmax; 
 	letter-spacing: 0.06vw;
 	text-align: center;
 	line-height: 1.6; /* recommended line-height (only applies to mobile views of my website) */
 	margin: 0px;
 	padding: 0px;	
 	list-style-type: none;
}

.fa-tint {
	font-size: 0.85em;
	margin-right: 0.2em;
}

.fa-tint:hover {
	color: rgba(0,0,150,1);
}

footer {
	background-color: rgba(183,0,0,1);
	height: 8.5vh;
	width: 100%;
	font-family: IBM Plex Sans, Times New Roman, Georgia, serif; /*FIXME perhaps change IBM Plex font choice later */
 	color: rgba(255, 255, 0, 1);
 	text-transform: none; 
 	font-weight: none;
 	font-size: 1.00vmax; 
 	letter-spacing: 0;
 	margin-top: -20px;
}


/* FIX ME Change footer_links colors when you are changing the color scheme of your page*/
.footer_links {
	text-decoration: none;
	color: rgba(255, 255, 0, 1);
	transition: all 0.75s;
	-webkit-transition: all 0.75s;
}

.footer_links:hover {
	color: rgba(0,0,150,1);
	text-decoration: underline;
	transition: all 0s;
	-webkit-transition: all 0s;
}

.footer_links:active {
	color: rgba(255,255,0,0.6);
	text-decoration: underline;
	transition: all 0s;
}

#copyright_date {
  display: inline;
}

#privacy_policy {
	margin-top: 0.70vh;
}

.secondary_title_div {
	margin-top: -7.10vh;
}

.other_descriptions_div {
	margin-bottom: -4.26vh;
}
