/* for large screens; if screen_width >= 800 pixels */

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction is row by default */
  justify-content: flex-start;
  background-color: #F45C82;
  overflow: hidden; /* FIXME what does this do? */  
}

/* for medium sized screens; if 800 pixels >= screen_width > 500 pixels */
@media all and (max-width: 800px) {
	#nav_bar {
		justify-content: space-around;
		/* evently distribute empty space */
	}
}

/* for small sized screens; if screen_width <= 500 pixels  pixels */
@media all and (max-width: 500px) {
	#nav_bar {
		flex-direction: column;
		/* we need flex-direction: column as small devices need the nav_bar's children vertically alligned */
	}
}

li  {
  float: left;
}

li a /* all <a> nested inside <li> */ {
	display: block;
	padding: 8px;
	color: black;
	text-decoration: none;
}

li a:hover {
	background-color: #accbe1;
}

body {
	/* 
	background-image: url("images/forest_rain.jpg");
	background-size: cover;
	*/
	background-color: #accbe1;
}

.container_vertical {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container_horizontal {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: center;
	/* flex-direction is row by default */	
}


#main_title_div {
	height: 100px;
	margin: auto auto -30px auto;

}

#description_div {
	height: 85px;
}

#main_title {
	font-family: Great Vibes, Bilbo Swash Caps, Georgia, serif;
 	color: #F45C82;
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 5vw; 
 	letter-spacing: 3px;
 
}

#app_description {
	font-family: Bilbo Swash Caps, Times New Roman, Georgia, serif;
 	color: #F45C82;
 	text-transform: none; 
 	font-weight: bolder;
 	font-size: 2.5vw; 
 	letter-spacing: 1px;
 	text-align: center;
}

/* by default, the play/pause button is displayed as play, as audio is paused */
#play_pause_button {	
	box-sizing: border-box;
	padding: 0px;
	width: 74px;
	height: 74px;
	outline: none;
	border-style: solid;
	border-width: 37px 0px 37px 74px;
	border-color: transparent transparent transparent black;
	background-color: transparent;
} 

/* leave here for now, for reference
#pause_button {
	box-sizing: border-box
	padding: 0px;
	width: 74px;
  	height: 74px;
  	border-style: double;
  	border-width: 0px 0px 0px 37px;
  	border-color: black;
  	background-color: transparent;
}
*/


#play_pause_button_div {
	height: 90px;
}

/* CSS for actual slider */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	/*appearance: none; probably not needed */
	 width: 20%; /* Full-width */
	 height: 25px;
	 outline: none;
	 opacity: 0.5; /* default opacity without hover */
	 /*FIXME don't think webkit-transition & transition do anything here, maybe fix */
	 -webkit-transition: opacity 0.3s, background-color 0.3s; /* for safari*/
	 transition: opacity 0.3s, background-color: 0.3s; /* for other browsers */
	 background-color: #F45C82; /* default BG colour without hover */
	 border-radius: 7px;
}


/* fully show slider on hover (opacity: 0.6 -> 1) */
.slider:hover {
	opacity: 1;
	background-color: #FF0041;
} 

/* Below is the code for having a non-image, vibrant slider thumb which glows on hover. Commented it out for now. Will see what to do with it in the future. /*
/*
/* CSS for slider-thumb/icon, for all browsers not Mozilla
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default CSS styles /*
	/*appearance: none; probably not needed 
	width: 30px; 
	height: 25px;
	cursor: pointer; /* Cursor on hover of thumb /*
	background-color: #99CA9B; 
	transition: background-color 0.3s;
	-webkit-transition: background-color: 0.3s;
} 

/* CSS for slider-thumb/icon, for Mozilla 
.slider::-moz-range-thumb { 
	-webkit-appearance: none; /* Override default look 
  	width: 30px; /* Set a specific slider handle width 
  	height: 25px; /* Slider handle height 
  	background-color: #99CA9B; 
  	cursor: pointer; /* Cursor on hover of thumb
  	transition: background-color 0.3s;
}

.slider::-webkit-slider-thumb:hover {
	background-color: #4CAF50;
}
*/

/* Below is the code for a unique, raindrop shaped slider thumb */

/* CSS for slider-thumb/icon, for all browsers not Mozilla */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/*appearance: none; probably not needed */
	width: 30px;
	height: 25px;
	cursor: pointer;
	background-image: url("images/raindrop.png");
	background-size: cover;
}

/* CSS for slider-thumb/icon, for Mozilla */
.slider::-moz-slider-thumb {
	-webkit-appearance: none;
	/*appearance: none; probably not needed */
	width: 30px;
	height: 25px;
	cursor: pointer;
	background-image: url("images/raindrop.png");
	background-size: cover;
} 

.mute_icon {
	height: 25px;
	width: 25px;
}

#slider_div {
	height: 50px;
	width: 100%;
}


#collapsible {
	height: 30px;
	opacity: 0.5; /* default opacity without hover */
	-webkit-transition: opacity 0.3s, background-color 0.3s; /* for safari*/
	transition: opacity 0.3s, background-color: 0.3s; /* for other browsers */
	background-color: #F45C82; /* default BG colour without hover */
  	color: black;
  	cursor: pointer;
  	padding: 10px;
  	width: 30%;
  	border: none;
  	text-align: center;
  	outline: none;
  	font-size: 15px;
  	line-height: 50%; /* vertically centers button text */
} 

#collapsible:hover {
	opacity: 1;
	background-color: #FF0041;	
}

#collapsible:active {
	opacity: 1;
	background-color: #FF0041;
}

#collapsed_div {
  padding: 0 18px;
  /*max-height: 0px;
  transition: max-height 0.2s ease-out;*/
  overflow: hidden;
  display: none;
}

#rain_slider, #forest_slider, #fire_slider, #wind_slider, #thunder_slider {
	width: 25%;
}

.fas {
	font-size: 19px;
}